%ul.list-group
  %li.list-group-item
    = link_to 'Update Scholes', root_url
  %li.list-group-item
    = link_to 'Graph Scholes', scholes_graph_scholes_path
  %li.list-group-item
    = link_to 'Price Scholes', scholes_price_scholes_path
