.col-sm-12.col-md-4
.col-sm-12.col-md-4
  %form{:action => cal_scholes_scholes_path, :method => "post", :name => "scholes"}
    = hidden_field_tag :authenticity_token, form_authenticity_token
    .row
      %span.col-md-5
        Stock Price
        %input{:type=>"text", :required => true, :name => "stock_price"}
    .row
      %span.col-md-5
        Strike Price
        %input{:type=>"text", :required => true, :name => "strike_price"}
    .row
      %span.col-md-5
        Years
        %input{:type=>"text", :required => true, :name => "years"}
    .row
      %span.col-md-5
        Risk Free
        %input{:type=>"text", :required => true, :name => "risk_free"}
    .row
      %span.col-md-5
        Volatility
        %input{:type=>"text", :required => true, :name => "volatility"}
    .row
      %span
        %button{:name => "submit", :type => "submit", :class =>"btn-success"}
          Submit

  - if @cal_option && @put_option
    .row
      .sub-val
        %span.col-md-5
          Call Option
        %span
          = @cal_option
      .sub-val
        %span.col-md-5
          Put Option
        %span
          = @put_option
